/* <a [href]="projectUrl" [textContent]="projectName"
   [ngStyle]="{
     'color' : setColor ? 'red' : 'green',
     'fontWeight' : setWeight ? 'bold' : 'normal'
   }">
</a> */

.active{
  color: black;
  border: 1px solid orchid;
  background-color: papayawhip;
}

.large{
  font-size: 3em;
}
