<a href='#!'[class.active]="foodType == 'all'" (click)="foodType='all'">All</a> |
<a href='#!'[class.active]="foodType == 'snacks'" (click)="foodType='snacks'">Snacks</a> |
<a href='#!'[class.active]="foodType == 'ind'" (click)="foodType='ind'">Indian</a> |
<a href='#!'[class.active]="foodType == 'itl'" (click)="foodType='itl'">Italian</a> |
<a href='#!'[class.active]="foodType == 'con'" (click)="foodType='con'">Continental</a>

<div [ngSwitch]="foodType">

<!--ngSwtich Templates-->

<div *ngSwitchCase="'all'">All foods</div>
<div *ngSwitchCase="'snacks'">Snack foods</div>
<div *ngSwitchCase="'con'">Continental foods</div>
<div *ngSwitchCase="'ind'">Indian foods</div>
<div *ngSwitchCase="'itl'">Italian foods</div>
<div *ngSwitchDefault>No food selected.</div>

</div>










<!-- <h2 *ngFor = "let food of Foods;let i = index" >
  {{i+1}} : {{food}} -
  <a href="javascript:void(0);" (click)="likeChange($event)">
  <i class ="fa"
           [ngClass] = "{
             'fa-heart active' : liked,
             'fa-heart-o' : !liked
           }">
  </i>
  </a>
</h2>

<span *ngIf="liked">Liked by User</span>
<span *ngIf="!liked">Unliked by User</span> -->
